doctype html
html
    head
        title Login Page
        link(rel='stylesheet', href='/register.css')
    body
        include navbar
        h1 Login
        form(action='/login', method='POST')
            div
                label(for='username') Username:
                input(type='text', name='username', id='username', required)
            div
                label(for='password') Password:
                input(type='password', name='password', id='password', required)
            div
                button(type='submit') Login
            p
                a(href='/register') Don't have an account? Register here.
        
