doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Navbar with Logo
    link(rel="stylesheet" href="../styles.css")
  body
    nav
      div.logo
        a(href="/")
          img(src="../logo.webp" alt="Logo")
        h1 DYP
      ul.nav-links
        li
          a(href="/") Home
        li
          a(href="/favourites") Favourites
        li
          a(href="/compare") Compare
        li
          a(href="/about") About Us
        li
          a(href="/contact") Contact Us
        li
          a(href="/logout") Logout
